body, html {
  height: 100%;
	color: #111;
  background-color: #fff;
  
}

h1{
	font-weight: 750;
}

.bg { 
  /* The image used */
  background-image: url("../images/background.jpg");
  background-color: #000;
  color: #fff;
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  margin:3em;
}

footer {
  padding:3em;
  color: #fff;
  background-color: #000;

}